*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.colorCode {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 7rem;
  width: 100%;
  text-align: center;
  z-index: -1;
  color: rgba(0, 0, 0, 0.5);
}

button{
    padding: 10px 40px;
    outline: none;
    background: whitesmoke  ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}