@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1653043506251-05cecdfe9cfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
  font-family: "Nunito", sans-serif;
  color: rgb(44, 44, 44);
}

.container {
  position: relative;
  display: flex;
  height: 420px;
  width: 768px;
  background: rgb(234, 234, 234);
  border-radius: 10px;
  overflow: hidden;
}

.container-form {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  transition: 0.5s ease-in-out;
}

.container-signup {
  opacity: 0;
  z-index: 2;
}

.container-signin {
  opacity: 1;
  z-index: 6;
}

.container.right-panel-active .container-signup {
  transform: translateX(100%);
  opacity: 1;
  z-index: 6;
}

.container.right-panel-active .container-signin {
  transform: translateX(100%);
  opacity: 0;
  z-index: 2;
}


.container-form .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.form>* {
  margin: 10px 0;
}

.form h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.form .input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form .input-group>input {
  margin: 7px 0;
  width: 80%;
  padding: 15px 15px;
  border: none;
  font-size: 1rem;
  outline: none;
}

.form .link {
  text-decoration: none;
  color: rgb(44, 44, 44);
}

.btn {
  padding: 15px 50px;
  border-radius: 50px;
  background: linear-gradient(to bottom left,
      rgb(14, 175, 211),
      rgb(14, 89, 211));
  border: none;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.btn:active{
  transform: scale(0.9);
}

.container-overlay {
  position: absolute;
  z-index: 100;
  width: 50%;
  height: 100%;
  left: 50%;
  /* left: 0; */
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.container.right-panel-active .container-overlay {
  transform: translateX(-100%);
}

.container-overlay .overlay {
  position: relative;
  width: 200%;
  height: 100%;
  left: -100%;
  background: url(https://images.unsplash.com/photo-1653043506251-05cecdfe9cfd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}

.container.right-panel-active .container-overlay .overlay {
  transform: translateX(50%);
}

.overlay-panel{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}

.overlay-left{
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left{
  transform: translateX(0);
}

.overlay-right{
  left: 50%;
  transform: translateX(0%);
}

.container.right-panel-active .overlay-right{
  transform: translateX(20%);
}

