*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

body {
  margin: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n) {
  border-right: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:last-child,
.cell:nth-last-child(2),
.cell:nth-last-child(3) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:hover::after,
.board.x .cell:hover::before{
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  background: black;
}

.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}





.cell.circle::before,
.cell.circle::after {
  content: "";
  width: var(--mark-size);
  height: var(--mark-size);
  border-radius: 50%;
  background: black;
  position: absolute;
}

.cell.circle::after {
  background: white;
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
}
