* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(to top left, #7f7fd5, #86a8e7, #91eae4);
  color: #222222;
  font-family: monospace;
}

h1 {
  font-size: 48px;
}
